# Désactiver l'affichage du contenu des répertoires
Options -Indexes

# Définir le fichier d'index par défaut
DirectoryIndex index.php

# Protection contre l'accès aux fichiers .htaccess
<Files .htaccess>
    Order allow,deny
    Deny from all
</Files>

# Protection contre l'accès aux fichiers de configuration
<FilesMatch "^(config\.php|database\.php)$">
    Order allow,deny
    Deny from all
</FilesMatch>

# Activer le moteur de réécriture
<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /
    
    # Rediriger vers HTTPS si ce n'est pas déjà le cas
    RewriteCond %{HTTPS} off
    RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
</IfModule> 