parameters:
    level: 8
    paths:
        - app
        - tests
    excludePaths:
        - app/Views
        - tests/coverage
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
    ignoreErrors:
        - '#Method [a-zA-Z0-9\\_]+::[a-zA-Z0-9\\_]+\(\) has no return type specified#'
        - '#Property [a-zA-Z0-9\\_]+::\$[a-zA-Z0-9\\_]+ has no type specified#'
    bootstrapFiles:
        - vendor/autoload.php 